<a href="https://colab.research.google.com/github/sitthatkaja/DWDM21/blob/main/DATA101(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA101(Chapter2)**

*Text ส่วนใหญ่จะเป็นภาษา markdown*

***

#### **ข้อดีหนึ่งของ python คือมี package สำหรับงานต่างๆมากมาย**

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบข้อมูล โดย pandas จะเรียกตารางนั้นว่า dataframe

In [3]:
import pandas as pd #วิธีเรียกใช้ package = import ชื่อ packages as ชื่อย่อ

*ไฟล์หลักในวิชานี้จะเป็น .csv (comma separated values)*

*ไฟล์ชนิดนี้เก็บข้อมูลเป็นตารางที่สามารถเข้าใจได้ง่าย*

In [6]:
data_df = pd.read_csv('data.csv')
data_df

    name  age       city
0    tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# **Basic Python**
## **Variable**

***ข้อกำหนดในการตั้งชื่อตัวแปร***

- ชื่อห้ามมีเว้นวรรค
- ใช้ภาษาอังกฤษ
- ตัวเล็กกับตัวใหญ่ แตกต่างกัน (Case sensitive)
- ห้ามใช้ตัวเลขเป็นตัวหน้า

In [8]:
variable_a = 12
variable_b = 'abcde' #เรียกว่า Quote
variable_c = variable_a

In [10]:
variable_a

12

In [11]:
variable_b

'abcde'

In [12]:
variable_c

12

In [13]:
variable_a = 12
variable_b = 'abcde' #เรียกว่า Quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU" #เรียกว่า Double Quote

In [15]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [17]:
print(variable_b + variable_4)

abcdeKKU

## **Casting**

การเปลี่ยนชนิดตัวแปร

In [19]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [21]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [22]:
V_X

'-29.200000000000003'

In [23]:
float(V_X)

-29.200000000000003

## **Data Structure**