<a href="https://colab.research.google.com/github/sitthatkaja/DWDM21/blob/main/Data102(Chapter_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ls

drive/  sample_data/

In [4]:
import os #จัดการไฟล์และ path

In [5]:
path = '/content/drive/My Drive/DWDM21'

In [6]:
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv'))
data

                    Date  positive  ...  Unnamed: 120  Unnamed: 121
0    Cannot specify date      2963  ...           NaN           NaN
1               1/1/2020         0  ...            31           NaN
2               2/1/2020         0  ...           Pos           Pos
3               3/1/2020         0  ...           NaN           NaN
4               4/1/2020         0  ...           NaN           NaN
..                   ...       ...  ...           ...           ...
567            20/7/2021     68403  ...           NaN           NaN
568            21/7/2021     82325  ...           NaN           NaN
569            22/7/2021     62846  ...           NaN           NaN
570            23/7/2021     58851  ...           NaN           NaN
571            24/7/2021     67283  ...           NaN           NaN

[572 rows x 122 columns]

Nan = Not a Number (ช่องว่าง)

In [10]:
dataN = data.iloc[:,:3]
dataN

                    Date  positive  Total Testing
0    Cannot specify date      2963          32131
1               1/1/2020         0              0
2               2/1/2020         0              0
3               3/1/2020         0              0
4               4/1/2020         0              2
..                   ...       ...            ...
567            20/7/2021     68403          10152
568            21/7/2021     82325          12210
569            22/7/2021     62846          10623
570            23/7/2021     58851          10200
571            24/7/2021     67283          13745

[572 rows x 3 columns]

input ที่ไม่จำเป็นต้องใส่ (Defualt)

.head() เอาค่าเฉพาะหัว

.tail() เอาค่าเฉพาะท้าย

In [11]:
dataN.tail()

          Date  positive  Total Testing
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745

In [12]:
dataN.head(n=13)

                   Date  positive  Total Testing
0   Cannot specify date      2963          32131
1              1/1/2020         0              0
2              2/1/2020         0              0
3              3/1/2020         0              0
4              4/1/2020         0              2
5              5/1/2020         0              2
6              6/1/2020         0              5
7              7/1/2020         0              0
8              8/1/2020         1              1
9              9/1/2020         4             13
10            10/1/2020         0             18
11            11/1/2020         0              3
12            12/1/2020         2              6

Box plot

ตามไม่ทันแล้วค่าาาา