<a href="https://colab.research.google.com/github/sitthatkaja/DWDM21/blob/main/Data_Preprocessing(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ls

drive/  sample_data/

In [4]:
import os

In [5]:
path = '/content/drive/My Drive/DWDM21'

In [7]:
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

## **Meta Data (ใช้อธิบาย Data)**

**ชี้ข้อมูลในตาราง**

In [8]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
512617                    ทัณฑสถาน/เรือนจำ
512618                    ทัณฑสถาน/เรือนจำ
512619                    ทัณฑสถาน/เรือนจำ
512620                    ทัณฑสถาน/เรือนจำ
512621                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 512622, dtype: object

In [9]:
data_cases['risk'][678]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [11]:
data_cases[['age','risk','sex']]

         age                              risk   sex
0       61.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
1       74.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
2       73.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
3       68.0  คนต่างชาติเดินทางมาจากต่างประเทศ   ชาย
4       66.0  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
...      ...                               ...   ...
512617   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512618   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512619   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512620   NaN                  ทัณฑสถาน/เรือนจำ   ชาย
512621   NaN                  ทัณฑสถาน/เรือนจำ   ชาย

[512622 rows x 3 columns]

**ชี้แบบ iloc[] (มองข้อมูลเป็น matrix)**

In [12]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [13]:
data_cases.iloc[-10:,4:9:2]

        age nationality              risk
512612  NaN         NaN  ทัณฑสถาน/เรือนจำ
512613  NaN         NaN  ทัณฑสถาน/เรือนจำ
512614  NaN         NaN  ทัณฑสถาน/เรือนจำ
512615  NaN         NaN  ทัณฑสถาน/เรือนจำ
512616  NaN         NaN  ทัณฑสถาน/เรือนจำ
512617  NaN         NaN  ทัณฑสถาน/เรือนจำ
512618  NaN         NaN  ทัณฑสถาน/เรือนจำ
512619  NaN         NaN  ทัณฑสถาน/เรือนจำ
512620  NaN         NaN  ทัณฑสถาน/เรือนจำ
512621  NaN         NaN  ทัณฑสถาน/เรือนจำ

In [14]:
data_cases.iloc[-10:,3:4:8]

         sex
512612  หญิง
512613   ชาย
512614   ชาย
512615   ชาย
512616   ชาย
512617   ชาย
512618   ชาย
512619   ชาย
512620   ชาย
512621   ชาย

In [15]:
data_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

In [17]:
from matplotlib import pyplot as plt

## อ้าวหาย

## **Missing Values**

- NaN = not a Number
- Null
- NA = Not Available

หายยาววว

Quiz 3 ให้ว่าการทำ dropna() ทำข้อมูลหายไปกี่เปอร์เซ็น

In [20]:
plt.boxplot(data_cases['age'.dropna()])

AttributeError: ignored

In [22]:
drop =362205

In [31]:
ans = (data_cases.shape[0] - drop)/(data_cases.shapes[0])
ans

AttributeError: ignored

In [24]:
print(f'Size before drop = {data_cases.shape[0]}')
print(f'Size after drop = {drop}')
print(f'We loss ... data')

Size before drop = 512622
Size after drop = 362205